---
layout: default
title: ""
description: ""
---
<div id="theGrid">
  <section class="grid">
    <header class="top-bar">
      <h2 class="top-bar__headline">Latest articles</h2>
      <div class="filter">
        <span>Filter by:</span>
        <span class="dropdown">Popular</span>
      </div>
    </header>
    {% for stash_hash in site.data.stashes %}
    {% assign stash_entry = stash_hash[1] %}
    <a class="grid__item" href="#">
      <h2 class="title title--preview">{{ stash_entry.stash }}</h2>
      <div class="loader"></div>
      <span class="category">{{ stash_entry.category }}</span>
      <div class="meta meta--preview">
      {{ stash_entry.url | size }}
        {% if stash_entry.url.size == 1  %}
          stash
          {% else %}
          stashes
        {% endif %}
      </div>
    </a>
    {% endfor %}
  </section>
  <section class="content">
    <div class="scroll-wrap">
      {% for stash_hash in site.data.stashes %}
      {% assign stash_entry = stash_hash[1] %}
      <article class="content__item">
        <span class="category category--full">{{ stash_entry.category }}</span>
        <h2 class="title title--full">{{ stash_entry.stash }}</h2>
        <div class="meta meta--full">
        </div>
        <p>{{ stash_entry.description }}</p>
        <ol>
        {% for stash_url in stash_entry.url %}
        <li><a href="{{ stash_url }}">{{ stash_url }}</a></li>
        {% endfor %}
        </ol>
      </article>
      {% endfor %}
    </div>
    <button class="close-button"><i class="fa fa-close"></i><span>Close</span></button>
  </section>
</div>