---
layout: default
title: "Stashes"
description: "User Experience curated design collections. A hand-picked glossary of theories, tools, and principles"
---
<div id="theGrid">
  <section class="grid">
    {% for stash in site.stashes %}
    <a class="grid__item" href="{{ stash.url }}">
      <h2 class="title title--preview">{{ stash.stash }}</h2>
      <div class="loader"></div>
      <span class="category">{{ stash.category }}</span>
      <div class="meta meta--preview">
      {{ stash.article | size }}
        {% if stash.article.size == 1  %}
          article
          {% else %}
          articles
        {% endif %}
      </div>
    </a>
    {% endfor %}
  </section>

</div>
