.form-input {
  padding: .5rem .8rem;
  width: 100%;
  border-radius: 2px;
  background: $dark;
  border: 2px solid $steel-gray;
  color: $off-white
}

.form-group {
  margin-bottom: 1rem;

  label {
    color: $steel-gray;
    font-weight: bold;
  }
}

.form-error {
  padding: .5rem .8rem;
  background: rgba(orangered, .2);
  border: 1px solid orangered;
  color: orangered;
}

.form-input+.form-error {
  margin-top: .8rem;
}

.form-input.datepicker {
  padding: .156rem .8rem;
}

.react-date-picker__wrapper {
  width: 100%;
  border: 0;

  .react-date-picker__inputGroup {
    padding: 0;
  }

  .react-date-picker__inputGroup__input {
    color: $off-white;
  }

  .react-date-picker__button:enabled svg g {
    stroke: $off-white;
  }
}