body {
  color: $text-color;
  font-family: $font-family-base;
}

a {
  color: $text-color;
  text-decoration: none;
}

a,
h3 {
  small {
    display: block;
    text-transform: uppercase;
    font-size: .7em;
    opacity: .6;
  }
}