/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.btn {
  padding: .5rem .8rem;
  background: #818488;
  border: 2px solid #818488;
  color: #fff;
  font-weight: bold; }

.btn-block {
  display: block;
  width: 100%; }

.btn-primary {
  background: #fffae1;
  border-color: #fffae1;
  color: #212121; }

.form-input {
  padding: .5rem .8rem;
  width: 100%;
  border-radius: 2px;
  background: #263238;
  border: 2px solid #818488;
  color: #fffae1; }

.form-group {
  margin-bottom: 1rem; }
  .form-group label {
    color: #818488;
    font-weight: bold; }

.form-error {
  padding: .5rem .8rem;
  background: rgba(255, 69, 0, 0.2);
  border: 1px solid orangered;
  color: orangered; }

.form-input + .form-error {
  margin-top: .8rem; }

.form-input.datepicker {
  padding: .156rem .8rem; }

.react-date-picker__wrapper {
  width: 100%;
  border: 0; }
  .react-date-picker__wrapper .react-date-picker__inputGroup {
    padding: 0; }
  .react-date-picker__wrapper .react-date-picker__inputGroup__input {
    color: #fffae1; }
  .react-date-picker__wrapper .react-date-picker__button:enabled svg g {
    stroke: #fffae1; }

.row {
  display: flex;
  width: 100%;
  margin-left: -1rem;
  margin-right: -1rem; }
  .row .col {
    flex: 1;
    flex-basis: 100%;
    padding-left: 1rem;
    padding-right: 1rem; }
  .row .col-3 {
    max-width: 25%; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #263238; }

ul {
  padding: 0; }

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto; }

.table-row {
  display: flex;
  width: 100%; }
  .table-row .table-col {
    flex: 1; }
    .table-row .table-col.x2 {
      flex: 2; }

body {
  color: #fffae1;
  font-family: "Roboto", sans-serif; }

a {
  color: #fffae1;
  text-decoration: none; }

a small,
h3 small {
  display: block;
  text-transform: uppercase;
  font-size: .7em;
  opacity: .6; }
